{% extends 'admin/change_form.html' %}
{% load i18n %}
{% block submit_buttons_bottom %}
    <div class="submit-row">
        <a href="{% url 'admin:flexvoucher_voucher_changelist' %}" class="button">{% trans 'Close' %}</a>
        {% if original.voucher_status_id == 5 %}
            <p class="deletelink-box">
                <a href="{% url 'admin:flexvoucher_voucher_storno'  original.pk %}" class="deletelink">Storno</a>
            </p>
        {% endif %}
    </div>
{% endblock %}