{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block extrahead %}
    {{ block.super }}
    {{ media }}
    <script type="text/javascript" src="{% static 'admin/js/cancel.js' %}"></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}">{{ object|truncatewords:"18" }}</a>
&rsaquo; Storno
</div>
{% endblock %}

{% block content %}
{#<p>{% blocktrans with escaped_object=object %}Are you sure?{% endblocktrans %}</p>#}
<h2></h2>
<ul>
    <li><b style="color: #000c17;">Are you really sure that you want to storno the voucher "{{ object.voucher_uic }}"?</b></li>
    <li>This operation cannot be undone.</li>
</ul>
<form method="post">{% csrf_token %}
<div class="checkbox-row">
    <input type="checkbox" name="is_return_dbl" id="id_is_return_dbl" checked=""><label class="vCheckboxLabel" for="id_is_return_dbl">Return points back to DBL</label>
{#    <p class="help" style="color: #000c17">Some help.</p>#}
    <br>
    <br>
</div>
<div>
<input type="hidden" name="post" value="yes">
<input type="submit" value="{% trans "Yes, I'm sure" %}">
<a href="#" class="button cancel-link">{% trans "No, take me back" %}</a>
</div>
</form>
{% endblock %}
