{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        table, tr, td, th, tbody, thead, tfoot {
            page-break-inside: avoid !important;
        }

        table {
            width: 100%;
            font-family: Calibri, sans-serif;
            border-spacing: 0;
            border-collapse: collapse;
        }
        table .center {
            text-align: center;
        }
        table .left {
            text-align: left;
        }
        table .right {
            text-align: right;
        }
        th, td {
            border-top: none;
            border-right: none;
            border-left: none;
            background: white;
            padding-top: 1px;
            padding-right: 1px;
            padding-left: 1px;
            color: black;
            font-style: normal;
            text-decoration: none;
        }
        th, .tfoot {
            font-size: 10.0pt;
            font-weight: 700;
            border-bottom: 1.0pt solid;
            padding-top: 25px;
        }
        td {
            font-size: 8.0pt;
            font-weight: 400;
            border-bottom: .5pt solid #D0CECE;
        }
        .money {
            text-align: right;
        }
    </style>
</head>
<body>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th class="center">No</th>
                    <th class="left" style="width: 160px">Date</th>
                    <th class="left" style="width: 160px">Paid</th>
                    <th class="left" style="width: 90px;">Voucher</th>
                    <th class="right" style="width: 120px;">Points</th>
                    <th class="right" style="width: 120px;">Euro</th>
                    <th class="money" style="width: 120px;">Trans</th>
                    <th class="money" style="width: 120px;">DLP</th>
                    <th class="left" style="padding-left: 10px;">User</th>
                    <th class="left">Reference</th>
                </tr>
            </thead>
            <tbody>
                {% for row in query_rows %}
                    <tr>
                        <td class="center">{{ forloop.counter }}</td>
                        <td>{{ row.voucher__date_in }}</td>
                        <td>{{ row.timestamp }}</td>
                        <td>{{ row.voucher__voucher_uic }}</td>
                        <td class="money">{{ row.voucher__points_amount | intcomma}}</td>
                        <td class="money">{{ row.voucher__money_amount | intcomma}}</td>
                        <td class="money">{{ row.trans | intcomma}}</td>
                        <td class="money">{{ row.dlp | intcomma}}</td>
                        <td style="padding-left: 10px;">{{ row.voucher__account__owner__first_name }}&#8194;{{ row.voucher__account__owner__last_name}}</td>
                        <td>{% if row.voucher__voucher_reference %}{{ row.voucher__voucher_reference }}{% endif %}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td class="tfoot"></td>
                    <td class="tfoot">Total</td>
                    <td class="tfoot"></td>
                    <td class="tfoot"></td>
                    <td class="right tfoot">{{ points_amount_sum | intcomma }}</td>
                    <td class="right tfoot">{{ money_amount_sum |  intcomma}}</td>
                    <td class="right tfoot">{{ trans_sum | intcomma }}</td>
                    <td class="right tfoot">{{ dlp_sum | intcomma }}</td>
                    <td class="tfoot"></td>
                    <td class="tfoot"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>