{% load  static %}
<script>
    let config = {{ module.children.0 | safe}}
</script>
<script src="{% static 'report/js/vendors/numeral.min.js' %}"></script>
<script src="{% static 'report/js/vendors/moment-with-locales.js' %}"></script>
<script src="{% static 'report/js/vendors/babel.min.js' %}"></script>
<script src="{% static 'report/js/vendors/react.development.js' %}" crossorigin></script>
<script src="{% static 'report/js/vendors/react-dom.development.js' %}" crossorigin></script>
<script src="{% static 'report/js/vendors/antd-with-locales.js' %}"></script>
<script src="{% static 'report/js/vendors/axios.min.js' %}"></script>

<div id="content-main" style="margin: 10px;"></div>
<script src="{% static "flexvoucher/js/modules/statistic.js" %}" type="text/babel"></script>
