{% extends "admin/base_site.html" %}
{#{% extends "admin/index.html" %}#}
{% load i18n  %}
{% load static  %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo;
  <a href="{% url 'report:transaction' %}">{% trans 'Report Transactions' %}</a>
</div>
{% endblock %}

{% block content %}
<div id="content-main"></div>
{% endblock %}

{% block  extrajs%}
    <script src="{% static 'report/js/vendors/numeral.min.js' %}"></script>
    <script src="{%  static 'report/js/vendors/moment-with-locales.js' %}"></script>
    <script src="{% static 'report/js/vendors/babel.min.js' %}"></script>
    <script src="{% static 'report/js/vendors/react.development.js' %}" crossorigin></script>
    <script src="{% static 'report/js/vendors/react-dom.development.js' %}" crossorigin></script>
{#    <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>#}
{#    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>#}
    <script src="{% static 'report/js/vendors/antd-with-locales.js' %}"></script>
    <script src="{% static 'report/js/vendors/axios.min.js' %}"></script>
    {% block custom_script %}{% endblock %}
{% endblock %}

{% block sidebar %}{% endblock %}
