{% extends "report/base_report.html" %}
{% load i18n  %}
{% load static  %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo; {% trans 'Clean test users data' %}
</div>
{% endblock %}

{% block custom_script %}
    <script src="{% static "report/js/clean-test-data.js" %}" type="text/babel"></script>
{% endblock %}
