{% extends "user/email_base.html" %}
{% load i18n %}{% autoescape off %}
{% block content %}
    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
        {% blocktrans %}New feedback.{% endblocktrans %} <br>
    <p>User: {{ user.first_name }} {{ user.last_name }}</p>
    <p>Phone: {{ phone }}</p>
    <p>Rating: {{ rating }}</p>
    <p>Comment: {{ comment }}</p>
    <br>
    <a href="{{ protocol }}://{{ domain }}{{ link }}" target="_blank" style="border: solid 1px #3498db; border-radius: 5px; box-sizing: border-box; cursor: pointer; display: inline-block; font-size: 14px; font-weight: bold; margin: 0; padding: 10px 20px; text-decoration: none; background-color: #1976d2; border-color: #3498db; color: #ffffff;">Link</a>
{% endblock %}
{% endautoescape %}
